.aside {
  background: linear-gradient(35deg, #FAFAFF 10%, rgba(255, 255, 255, 0) 1045%);
  min-width: 320px;
  height: 100%;
  max-height: 100vh;
  border-radius: 5px;
}

.aside .title {
  padding: 5px 35px 5px;
  font-size: 20px;
}

.aside .content {
  border-top: 1px solid #D0DAE8;
  padding: 0 40px;
  list-style: none;
}

.aside .content .item {
  background: url('../../assets/icons/carrot.svg') no-repeat center right;
  border-bottom: 1px solid #D0DAE8;
  padding: 0;
  font-style: italic;
  cursor: pointer;
  transition-duration: .2s;
}

.aside .content .item .link {
  display: block;
  padding: 20px 0;
  text-decoration: none;
  color: #111;
}

.aside .content .item:hover {
  font-weight: bold;
}

@media screen and (max-width: 490px) {
  .aside {
    width: calc(100% - 40px);
    margin-top: 30px;
    height: 100%;
    max-height: 100%;
    padding: 20px;
  }

  .aside .title {
    text-align: center;
  }

  .aside .content {
    padding: 0;
  }
}
