.list {
  border-radius: 5px;
  width: calc(100% - 345px);
  background: linear-gradient(13deg, var(--clear-background) 12%, rgba(255, 255, 255, 0) 1045%);
}

.list .title {
  font-size: 30px;
  margin: 10px 0;
  padding: 10px 45px 0;
}

.list .content {
  border-top: 1px solid var(--default-border);
  padding: 0 40px;
  list-style: none;
}

.list .content {
  overflow-y: auto;
  max-height: 80vh;
}

.list .content::-webkit-scrollbar {
  width: 3px;
}

.list .content::-webkit-scrollbar-thumb {
  background: var(--input-border);
}

.list .content .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--default-border);
  text-decoration: none;
  color: #111;
}

.list .content .item:hover {
  background: var(--actions-background-hover);
  cursor: pointer;
}

.list .content .item .catBasicInfo {
  display: flex;
  flex: 2;
  align-items: center;
}

.list .content .item .catPhoto {
  border-radius: 5px;
  margin-left: 5px;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.list .content .item .catProperties {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 18px;
}

.list .content .item .catName {
  font-size: 20px;
  margin-left: 25px;
  font-style: italic;
  max-width: 60%;
}

.list .content .item .catProperties {
  font-size: 13px;
  flex: 1;
}

.list .content .item .catProperties:first-of-type {
  flex: .8;
}

.emptyList {
  height: 35vh;
  margin: 15% auto;
  display: block;
  opacity: .2;
  pointer-events: none;
}

@media screen and (max-width: 490px) {
  .list {
    width: calc(100% - 40px);
    padding: 20px;
  }

  .list .title {
    line-height: inherit;
    margin: 0;
    text-align: center;
  }

  .list .content {
    padding: 0;
    height: 45vh;
    overflow-x: hidden;
  }

  .list .content .item {
    display: flex;
    flex-wrap: wrap;
  }

  .list .content .item .catBasicInfo {
    width: 100%;
    flex: auto;
    justify-content: space-between;
    padding-right: 15px;
  }

  .list .content .item .catPhoto {
    transform: translateY(25px);
  }

  .list .content .item .catProperties {
    display: block;
    width: 100%;
    flex: auto;
    text-align: right;
    padding-right: 15px;
  }

  .list .content .item .catProperties:first-of-type {
    flex: auto;
  }

  .emptyList {
    height: auto;
    width: 100%;
  }
}
