.container {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}

.container[wrap] {
  flex-wrap: wrap;
}

@media screen and (max-width: 490px) {
  .container {
    flex-wrap: wrap;
    width: 100%;
    flex-flow: column-reverse;
    padding: 10px 0;
  }
}
