.header {
  width: calc(100vw - 100px);
  display: flex;
  align-items: center;
}

.btnLogo {
  background-color: transparent;
  border: none;
  padding: 0
}

.actions {
  display: flex;
  margin-left: auto;
}

.actions .search, .action {
  min-width: 22vw;
  min-height: 45px;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  font-size: 15px;
  box-sizing: content-box;
  background-color: var(--actions-background);
}

.actions .search {
  background: url('../../assets/icons/magnifying.svg') no-repeat center left 13px;
  background-color: var(--actions-background);
  -webkit-appearance: textfield;
  margin: 0 25px 0 auto;
  padding: 0 20px 0 40px;
  min-width: calc(22vw - 60px);
}

.actions .action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-decoration: none;
}

.actions .action:hover{
  background: var(--actions-background-hover);
}

.plus {
  margin-right: 10px
}

.actions .action, .btnLogo {
  cursor: pointer
}

@media screen and (max-width: 490px) {
  .header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .actions {
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
  }

  .actions .search,
  .actions .action {
    width: 100%;
    margin: 0;
  }

  .actions .action {
    margin: 20px 0 10px;
  }
}
