.header {
  width: calc(100vw - 100px);
  display: flex;
  align-items: center;
}

.btnLogo {
  background-color: transparent;
  border: none;
  padding: 0
}

.actions {
  display: flex;
  margin-left: auto;
}

.search, .action {
  min-width: 22vw;
  min-height: 45px;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  font-size: 15px;
  box-sizing: content-box;
  background-color: #F3F3FF;
}

.search {
  background: url('../../assets/icons/magnifying.svg') no-repeat center left 13px;
  background-color: #F3F3FF;
  -webkit-appearance: textfield;
  margin: 0 25px 0 auto;
  padding: 0 20px 0 40px;
  min-width: calc(22vw - 60px);
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-decoration: none;
}

.action:hover{
  background: #e8e8e8;
}

.plus {
  margin-right: 10px
}

.action, .btnLogo {
  cursor: pointer
}
